
* {
    box-sizing: border-box;
}

body {
    font-family: Arial;
    padding: 20px;
    background: #f1f1f1;
    font-family: Arial, Helvetica, sans-serif;
}

h4{text-align: justify;
    text-align: center;}

header {
    padding: 30px;
    font-size: 40px;
    text-align: center;
    background:url("./pics/ELEVEN.jpg");
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
}

h2{text-align: center;}

header h2 {
    background:rgba(0,0,0,0.5);
    height:auto;
    color:whitesmoke;
}

nav {
    overflow: hidden;
    background-color: #333;
}

nav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    cursor: pointer;
}

nav a:hover {
    background-color: #ddd;
    color: black;
}


.input{
    background-color: #333;
    border:0px;
    margin:0px;
    padding:0px;
}

nav .input {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav .input:hover {
    background-color: #ddd;
    color: black;
}

.leftcolumn {   
    float: left;
    width: 75%;
}

.left{
    float:left;
    width:50%;
    text-align: center;
    height: 500px;
    background-color: palegreen;
}

.right{
    float:right;
    width:50%;
    text-align: center;
    height: 500px;
    background-color: peru;
}

.rightcolumn {
    float: left;
    width: 25%;
    background-color: #f1f1f1;
    padding-left: 20px;
}

/* Add a card effect for articles */
.card {
    border-radius: 10px;
     background-color: white;
     padding: 20px;
     margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

footer{
    padding: 20px;
    text-align: center;
    background: rgb(0, 0, 0);
    color:whitesmoke;
    margin-top: 10px; 
}

footer input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    text-align: center;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

footer input[type=text]:focus {
    border: 3px solid #555;
}

footer input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    text-align: center;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

footer input[type=email]:focus {
    border: 3px solid #555;
}

footer input[type=submit]{
    background-color: rgb(252, 252, 252);
    border: none;
    color: rgb(0, 0, 0);
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

footer input[type=submit]{
    background-color: white;
    color: black;
    border: 2px solid GRAY;
}

footer input[type=submit]{ background-color: GREY;}

#sup {
    resize:vertical;
    overflow:auto; 
}

#log{
    border-radius: 20px;
    text-align: center;
    margin:auto;
    width:70%;
    background-color: palegreen;
    padding-bottom:20px;
    height:50%;
}

#log input{
    padding:10px;
    margin-bottom: 5px;
}

#log span{
    margin-right: 10px;
    color:black;
}

#log h1{
    padding-top:20px;
    color:Black;
}

#reg{
    border-radius: 20px;
    text-align: center;
    margin:auto;
    width:70%;
    background-color: peru;
    padding-bottom:20px;
}

#reg input{
    padding:10px;
    margin-bottom: 5px;
}

#reg span{
    margin-right: 10px;
    color:WHITE;
}

#reg h1{
    padding-top:10px;
    color:WHITE;
}
